main {
  display: grid;
  place-content: center;
  width: 100%;
}
.search-properties {
  display: flex;
  justify-content: space-between;
}
.search-properties input {
  border: 1px rgb(57, 128, 219) solid;
  padding: 0.45rem;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}
.filter-data {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

label {
  color: grey;
  padding: 1rem;
  flex-direction: column;
  display: grid;
  gap: 0.5rem;
}

#submitbutton {
  background-color: rgb(57, 128, 219);
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
  height: 100%;
  max-height: 1rem;
  padding: 1rem;
  display: grid;
  place-content: center;
}
button:disabled {
  background-color: rgb(0, 0, 0);
  color: black;
}
@media screen and (max-width: 1024px) {
  .search-result {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-result {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
  }
  .search-properties {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .search-result {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0;
  }
  .filter-data {
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
  }
  .search-properties {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    width: 100%;
  }
}
